<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />

  <!-- fontawesome cdn -->
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css" />

  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

  <!-- stylesheet for navbar -->
  <link rel="stylesheet" href="/assets/cssFiles/navbar.css" />
  <link rel="stylesheet" href="/assets/cssFiles/patients.css" />
  <!-- stylesheet for pagination -->
  <link rel="stylesheet" href="/assets/cssFiles/pagination.css" />

  <!-- for loader -->
  <script src="/assets/jsFiles/loader.js"></script>
  <link rel="stylesheet" href="/assets/cssFiles/loader.css" />

  <title>Patients-Amar.health</title>
</head>

<body onload="">
  <!-- display loading icon -->
  <div class="se-pre-con"></div>
  <!-- ends -->

  <!-- navigation bar -->
  <% include ./segments/navbar %>

    <main>
      <div class="side-bar">
        <div class="topic-container">
          <div class="topic">
            <h3>Search Menu</h3>
          </div>
          <div class="angle">
            <i class="fas fa-angle-left" id="leftAngle" onclick="hideSidebar()"></i>
          </div>
        </div>
        <!-- here are all sidebar items -->
        <div class="nav-sec-cont">
          <div class="card">
            <div class="card-title">Search Patient</div>

            <form action="/doctor/patients/searchResults" method="get" id="searchMenuForm">
              <div class="search-input">
                <input type="text" name="searchKey" class="form-control" id="searchKey"
                  placeholder="Enter patient's name" value="<%= typeof searchKey != 'undefined' ? searchKey : '' %>"
                  required />
              </div>
              <div class="filter-container">
                <div class="filter-title">Options</div>
                <div class="filter">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="searchOption" value="name" id="searchOptionName"
                      <%=(typeof searchOption !='undefined' && (searchOption=='email' || searchOption=='phoneNumber' ))
                      ? '' : 'checked' %>
                    required
                    />
                    <label class="form-check-label" for="searchOptionName">
                      By name
                    </label>
                  </div>
                </div>
                <div class="filter">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="searchOption" value="email" id="searchOptionMail"
                      <%=(typeof searchOption !='undefined' && searchOption=='email' ) ? 'checked' : '' %>
                    />
                    <label class="form-check-label" for="searchOptionMail">
                      By mail id
                    </label>
                  </div>
                </div>
                <div class="filter">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="searchOption" value="phoneNumber"
                      id="searchOptionMobile" <%=(typeof searchOption !='undefined' && searchOption=='phoneNumber' )
                      ? 'checked' : '' %>
                    />
                    <label class="form-check-label" for="searchOptionMobile">
                      By mobile no
                    </label>
                  </div>
                </div>
              </div>
              <div class="filter-container">
                <div class="filter-title">Search filters</div>
                <div class="filter">
                  <div class="form-check">
                    <input class="form-check-input" name="searchFilter" type="checkbox" value="followupRunning"
                      id="runningPatient" <%=(typeof searchFilter !='undefined' && searchFilter.includes('followupRunning') )
                      ? 'checked' : '' %>
                    />
                    <label class="form-check-label" for="runningPatient">
                      Running followup
                    </label>
                  </div>
                </div>
              </div>
              <div class="btn-container">
                <button id="search-btn" type="submit" class="search-btn">
                  Search
                </button>
              </div>
            </form>
          </div>
          <div class="card">
            <div class="card-title">Apply filters</div>
            <form action="/doctor/patients/searchResults" method="get" id="filterMenuForm">
              <div class="filter-container">
                <div class="filter">
                  <a href="">Male patient</a>
                </div>
                <div class="filter">
                  <a href="">Female patient</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="wrapper" id="">
        <!-- Modal -->
        <div class="modal fade" id="deletePatientModal" tabindex="-1" aria-labelledby="deletePatientModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deletePatientModalLabel">
                  Are you sure you want to remove "Abdur Rahman" from patient
                  list?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times; </span>
                </button>
              </div>
              <div class="modal-body">
                If you click "Yes" patient "Abdur Rahman" will be parmanently
                deleted.
              </div>
              <div class="modal-footer">
                <input type="hidden" id="patientIdToDelete" value="" style="display: none;">
                <button id="modalYesButton" type="button" class="btn btn-success">
                  Yes
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                  No
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="notify-bar">
          <div class="angle">
            <i class="fas fa-angle-right" onclick="displaySidebar()"></i>
          </div>
          <div class="selected-current" id="notifyBarTitle">
            <% if(typeof searchResults !='undefined' ) { %>
              Search Results <% } else { %> Patient Desk <% } %>
          </div>
        </div>

        <div class="page-holder" id="">
          <div class="card">
            <div class="card-title">Search patient</div>
            <form action="/doctor/patients/searchResults" method="get" id="searchMenuForm2">
              <div class="search-input">
                <input type="text" name="searchKey" id="searchKey2" class="form-control"
                  placeholder="Enter patient's name" value="<%= typeof searchKey != 'undefined' ? searchKey : '' %>"
                  required />
              </div>
              <div class="filter-container">
                <div class="filter-title">Options</div>
                <div class="filter">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="searchOption" value="name" id="searchOptionName2"
                      <%=(typeof searchOption !='undefined' && (searchOption=='email' || searchOption=='phoneNumber' ))
                      ? '' : 'checked' %>
                    required
                    />
                    <label class="form-check-label" for="searchOptionName2">
                      By name
                    </label>
                  </div>
                </div>
                <div class="filter">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="searchOption" value="email"
                      id="searchOptionMail2" <%=(typeof searchOption !='undefined' && searchOption=='email' )
                      ? 'checked' : '' %>
                    />
                    <label class="form-check-label" for="searchOptionMail2">
                      By mail id
                    </label>
                  </div>
                </div>
                <div class="filter">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="searchOption" value="phoneNumber"
                      id="searchOptionMobile2" <%=(typeof searchOption !='undefined' && searchOption=='phoneNumber' )
                      ? 'checked' : '' %>
                    />
                    <label class="form-check-label" for="searchOptionMobile2">
                      By mobile no
                    </label>
                  </div>
                </div>
              </div>
              <div class="filter-container">
                <div class="filter-title">Search Filters</div>
                <div class="filter">
                  <div class="form-check">
                    <input class="form-check-input" name="searchFilter" type="checkbox" value="followupRunning"
                      id="runningPatient" <%=(typeof searchFilter !='undefined' && searchFilter.includes('followupRunning') )
                      ? 'checked' : '' %>
                    />
                    <label class="form-check-label" for="runningPatient">
                      Running followup
                    </label>
                  </div>
                </div>
              </div>
              <div class="btn-container">
                <button id="search-btn2" type="submit" class="search-btn">
                  Search
                </button>
              </div>
            </form>
          </div>
          <div class="card">
            <div class="card-title">Apply filters</div>
            <form action="/doctor/patients/searchResults" method="get" id="filterMenuForm2">
              <div class="filter-container">
                <div class="filter">
                  <a href="">Male patient</a>
                </div>
                <div class="filter">
                  <a href="">Female patient</a>
                </div>
              </div>
            </form>
          </div>
          <div class="table-responsive" id="patientTableContainer">
            <table class="table table-bordered table-hover" id="patientTable">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Name</th>
                  <th scope="col">Records</th>
                  <th scope="col">Option</th>
                </tr>
              </thead>

              <tbody>
                <%
                 let data = (typeof patientDesk != 'undefined') ? patientDesk : ((typeof searchResults != 'undefined') ? searchResults : [])  
                 %>
                
                <% if(typeof data != 'undefined') {%>
                <% for(let singleData of data) { %>
                  <tr class="patient-info" id="tableRow-<%= singleData._id %>">
                    <td class="patient-icon">
                      <a href=""><i class="fas fa-user"></i></a>
                    </td>
                    <td class="info">
                      <div class="patientSummary">
                        <div class="segment">
                          Name: <a href=""><%= singleData.name %> </a>
                        </div>
                        <div class="segment">Email: <%= singleData.email %></div>
                      </div>
                    </td>
                    <td class="info">
                      <a href="/doctor/followupQues/records?pId=<%=singleData._id%>"> <%= singleData.recordCount %></a>
                    </td>
                    <% if(singleData.exists) { %>
                      
                      <td class="dlt-btn-cont">
                        <button type="button" class="removeButton" id="removeButton-<%= singleData._id %>" data-patient-id="<%= singleData._id %>" data-patient-name="<%= singleData.name %>" data-toggle="modal" data-target="#deletePatientModal">
                          Remove
                        </button>
                      </td>

                    <% } else { %>
                      
                      <td class="add-btn-cont">
                        <button type="button" class="addButton" data-patient-id="<%= singleData._id %>" id="addButton-<%= singleData._id %>">
                          Add
                        </button>

                        <p id="requestSent-<%= singleData._id %>" style="display: none;"> Request Sent </p>
                      </td>
                    
                    <% } %>
                  </tr>
                  <%}%>
                  <%}%>

                  <!-- <%for(let i=0; i<10; i++){%>
                    <tr class="patient-info">
                      <td  class="patient-icon">
                        <a href=""><i class="fas fa-user"></i></a>
                      </td>
                      <td class="info">
                        <div class="patientSummary">
                          <div class="segment">
                            Name: <a href="">Abdur Rahman</a>
                          </div>
                          <div class="segment">
                            Email: abdur@outlook.com
                          </div>
                        </div>                      
                      </td>
                      <td class="info">
                        <a href="/doctor/followupQues/records">10 Records</a>
                      </td>
                      <td class="dlt-btn-cont">
                        <button type="button" data-toggle="modal" data-target="#deletePatientModal">Remove</button>
                      </td>
                    </tr>
                  <%}%>  -->
              </tbody>
            </table>
          </div>

          <div class="pagination-holder">
            <% include ./segments/pagination %>
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"></script>

    <script>
      var stDate = new Date();
      var enDate = new Date(
        stDate.getFullYear() + 5,
        stDate.getMonth(),
        stDate.getDate()
      );
      // adding 1 to getMonth() because in this function month is 0 indexed Jan=0th month
      // but while taking input month is 1 indexed, Jan = 1th month
      var stDateStr =
        stDate.getFullYear() +
        "-" +
        (stDate.getMonth() < 10
          ? "0" + stDate.getMonth() + 1
          : stDate.getMonth() + 1) +
        "-" +
        (stDate.getDate() < 10 ? "0" + stDate.getDate() : stDate.getDate());
      var enDateStr =
        enDate.getFullYear() +
        "-" +
        (enDate.getMonth() < 10
          ? "0" + enDate.getMonth() + 1
          : enDate.getMonth() + 1) +
        "-" +
        (enDate.getDate() < 10 ? "0" + enDate.getDate() : enDate.getDate());

      $('#searchMenuForm input[type="radio"][name="searchOption"]').on(
        "change",
        function () {
          if (this.value == "name")
            $("#searchKey").attr("placeholder", "Enter patient's name");
          else if (this.value == "email")
            $("#searchKey").attr("placeholder", "Enter patient's email id");
          else if (this.value == "phoneNumber")
            $("#searchKey").attr("placeholder", "Enter patient's mobile no");
        }
      );

      $('#searchMenuForm2 input[type="radio"][name="searchOption"]').on(
        "change",
        function () {
          if (this.value == "name")
            $("#searchKey2").attr("placeholder", "Enter patient's name");
          else if (this.value == "email")
            $("#searchKey2").attr("placeholder", "Enter patient's email id");
          else if (this.value == "phoneNumber")
            $("#searchKey2").attr("placeholder", "Enter patient's mobile no");
        }
      );

      function displaySidebar() {
        // $('#rightAngle').css('display','none')
        $("#leftAngle").css("display", "block");
        $(".side-bar").css("left", "0");
      }
      function hideSidebar() {
        $("#leftAngle").css("display", "none");
        // $('#rightAngle').css('display','block')
        $(".side-bar").css("left", "-300px");
      }

      function screenDisplayCheck() {
        if (window.innerWidth >= 1000) {
          $(".side-bar").css("left", "0");
        } else {
          console.log("came in resize less 1000psx");
          $(".angle").css("display", "none");
          $(".side-bar").css("left", "-300px");
        }
      }

      $(".addButton").on("click", function(e){
        e.preventDefault();
        // console.log(this.id, e.target.id)

        let data = {
          patientId : $(this).data('patient-id'),
          notificationType: 'doctorRequest' 
        }
        
        $.ajax({
          type: 'POST',
          url: '/doctor/sendNotificationToPatient',
          data,
          success: (response) => {
            if (response.status) {
              let patientId = $(this).data('patient-id')
              $(`#addButton-${patientId}`).hide()
              $(`#requestSent-${patientId}`).show()
            }
            else{
              console.log("Error in server.")
              alert("Request sent failed")
            }
          },
          error: () => {
            console.log("Error in sending request to server.")
            alert("Request sent failed")
          }
        });

      })

      $(".removeButton").on("click", function(e){
        let patientName =  $(this).data('patient-name')
        let patientId = $(this).data('patient-id')
        // console.log(patientName, patientId)
        let modalQuestion = `Are you sure you want to remove <b> "${patientName}" </b> from patient list?`
        let modalBody = `If you click <b> "Yes" </b> patient <b> "${patientName}" </b> will be parmanently deleted.`
        $("#patientIdToDelete").val(patientId)
        $("#deletePatientModalLabel").html(modalQuestion)
        $(".modal-body").html(modalBody)
      })

      $("#modalYesButton").on("click", function(e){
        e.preventDefault();
        console.log(this.id, e.target.id)

        let data = {
          patientId : $("#patientIdToDelete").val()
        }
        
        $.ajax({
          type: 'POST',
          url: '/doctor/removePatientFromPatientDesk',
          data,
          success: (response) => {
            if (response.status) {
              let pathname = window.location.pathname;
              let patientId = $("#patientIdToDelete").val()
              // console.log("Pathname: " + pathname)
              if(pathname.indexOf("searchResults") == -1){
                $(`#tableRow-${patientId}`).remove()
              }
              else{
                let addButtonHtml = `<td class="add-btn-cont">
                                      <button type="button" class="addButton" data-patient-id="${patientId}" id="addButton-${patientId}">
                                        Add
                                      </button>

                                      <p id="requestSent-${patientId}" style="display: none;"> Request Sent </p>
                                    </td>`
                $(`#tableRow-${patientId} .dlt-btn-cont`).replaceWith(addButtonHtml)
              }
              $('#deletePatientModal').modal('toggle');
              alert("Patient Deletion Operation Successful")
            }
            else{
              console.log("Error in server.")
              $('#deletePatientModal').modal('toggle');
              alert("Patient Deletion Operation Failed")
            }
          },
          error: () => {
            console.log("Error in sending request to server.")
            $('#deletePatientModal').modal('toggle');
            alert("Patient Deletion Operation Failed")
          }
        })
      })

      window.onresize = screenDisplayCheck;
      window.onload = screenDisplayCheck;
    </script>
</body>

</html>