<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

    <!-- stylesheet for navbar -->
    <link rel="stylesheet" href="/assets/cssFiles/navbar.css">
    <link rel="stylesheet" href="/assets/cssFiles/followupQues.css" />
    <!-- for loader -->
    <script src="/assets/jsFiles/loader.js"></script>    
    <link rel="stylesheet" href="/assets/cssFiles/loader.css" />


    <title>Followup-Amar.health</title>
  </head>

  <body onload="displayParam(0)">
    <!-- display loading icon -->
    <div class="se-pre-con"></div>
    <!-- ends -->

    <!-- navigation bar -->
    <% include ./segments/navbar %>
    
    <main>
      <div class="side-bar">
        <div class="topic-container">
          <div class="topic">
            <h3>Parameters</h3>
          </div>
          <div class="angle">
            <i class="fas fa-angle-left" id="leftAngle"  onclick="hideSidebar()"></i>
          </div>
        </div>
        <!-- here are all sidebar items -->
        <div class="nav-sec-cont">
          <% for(let i=0; i<parameters.length; i++) {%>
          <div class="sec-cont">
            <div class="sec-name-and-cnt" onclick="displayParam(<%=i%>)">
              <div class="sec-name">
                <a ><%= parameters[i].name%></a>
              </div>
              <div class="sec-items-cnt">
                <%=parameters[i].questions.length%>
              </div>
            </div>
          </div>
          <% } %>   

        </div>
      </div>
      <div id='addParamHere'></div>

      <form method="POST" action="/doctor/followupQues/assign/continue?pId=<%=pId%>" id="quesForm">
      </form>
     
    </main>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script>
      let pId=<%-JSON.stringify(pId)%>
      let stDate = new Date();
      let enDate = new Date(stDate.getFullYear()+5, stDate.getMonth(), stDate.getDate())
      // for setting default 10 days followup
      let defaultEnDate = new Date(stDate.getFullYear(), stDate.getMonth(), stDate.getDate()+10)
      // adding 1 to getMonth() because in this function month is 0 indexed Jan=0th month
      // but while taking input month is 1 indexed, Jan = 1th month 
      let stDateStr = stDate.getFullYear()+'-'+ (stDate.getMonth()<10? '0'+(stDate.getMonth()+1) : (stDate.getMonth()+1)) +'-'+ ( stDate.getDate()<10? '0'+stDate.getDate() : stDate.getDate() )
      let enDateStr = enDate.getFullYear()+'-'+ (enDate.getMonth()<10? '0'+(enDate.getMonth()+1) : (enDate.getMonth()+1)) +'-'+ ( enDate.getDate()<10? '0'+enDate.getDate() : enDate.getDate() )
      let defaultStDateStr = stDateStr
      let defaultEnDateStr = defaultEnDate.getFullYear()+'-'+ (defaultEnDate.getMonth()<10? '0'+(defaultEnDate.getMonth()+1) : (defaultEnDate.getMonth()+1))+'-'+ ( defaultEnDate.getDate()<10? '0'+defaultEnDate.getDate() : defaultEnDate.getDate() )

      let parameters = <%- JSON.stringify(parameters) %> 
      let isCreated = [];
      let currentCnt=[], totalCnt =0;

      parameters.forEach(element => {
        isCreated.push(false)
        currentCnt.push(0)
      });

   

      function displaySidebar(){
        // $('#rightAngle').css('display','none')
        $('#leftAngle').css('display','block')
        $('.side-bar').css('left', '0')
      }
      function hideSidebar(){
        $('#leftAngle').css('display','none')
        // $('#rightAngle').css('display','block')
        $('.side-bar').css('left', '-300px')
      }
      
      window.onresize = function() {
          if (window.innerWidth >= 1000) {
            $('.side-bar').css('left', '0')
          }
      }

      function save(){
        let items = $('input[type="checkbox"]')
        let ques =[]
        for(let i=0; i<items.length; i++){
          if(items[i].checked){
            ques.push(items[i].name)
          }
        }
        console.log(ques)
      }

      function displayParam(ind){
        let parameter = parameters[ind]
        for(let i=0;i<parameters.length;i++){
          if(i!=ind && isCreated[i]) $('#paramDetails'+parameters[i]._id).css('display','none')
        }
        if(!isCreated[ind]){
          isCreated[ind] = true
          let allQues = ''
          for(let i=0; i<parameter.questions.length; i++) {
            allQues+=`<tr>
                        <th scope="row"> <input type="checkbox" name="selectQues" id="selectQues${parameter.questions[i]._id}" value="${parameter.questions[i]._id}" onchange="checkCount('${parameter.questions[i]._id}', ${ind})"> </th>
                        <td>
                          ${parameter.questions[i].name}
                          <input type="text" id="question${parameter.questions[i]._id}" value="${parameter.questions[i].name}"  style="display: none;">
                          <input type="text" id="inputType${parameter.questions[i]._id}" value="${parameter.questions[i].inputType}"  style="display: none;">
                        </td>                
                        <td> 
                          <input class="form-control" type="date" id="startDate${parameter.questions[i]._id}" min="${stDateStr}" max="${enDateStr}" value="${defaultStDateStr}" onchange="setEndDate('${parameter.questions[i]._id}')" >
                        </td> 
                        <td>
                          <input class="form-control" type="date" id="endDate${parameter.questions[i]._id}" min="${stDateStr}" max="${enDateStr}" value="${defaultEnDateStr}">                          
                        </td>
                        <td> 
                          <select class="form-control" name="frequency" id="frequency${parameter.questions[i]._id}" >
                            <option selected value='24'> 1 day </option>
                            <% for(let j = 1 ; j < 24; j++) {%>
                              <option value="<%=j%>"><%= j %> hour</option>                    
                            <% } %>
                            <% for(let j = 1 ; j < 10; j++) {%>
                              <option value="<%=j*24%>"><%= j %> day</option>                    
                            <% } %>                    
                          </select>
                        </td>
                        ${parameter.questions[i].inputType=='numberType'?
                            `<td> <input class="form-control" type="number" id="maxVal${parameter.questions[i]._id}"> </td>`+
                            `<td> <input class="form-control" type="number" id="minVal${parameter.questions[i]._id}"> </td>`
                            :
                            `<td> </td>`+
                            `<td> </td>`
                          }                        
                      </tr>            `
          } 
          $('#addParamHere').replaceWith(`
            <div id='addParamHere'></div>
            <div class="wrapper" id="paramDetails${parameter._id}">
              <div class="notify-bar">
                <div class="angle">
                  <i class="fas fa-angle-right" onclick="displaySidebar()"></i>
                </div>
                <div class="selected-current" id="current${parameter._id}">
                  Selected from current: ${currentCnt[ind]}
                </div>
                <div class="total-selected" id="total${parameter._id}">
                  Total Selected Questions: ${totalCnt}
                </div>
                <div class="continue">
                  <button onclick="continueAndSave()">
                    Continue
                  </button>
                </div>
              </div>
              
              <div class="page-holder" id="quesHolder${parameter._id}">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered">
                    <thead >
                      <tr>
                        <th scope="col">Select</th>
                        <th scope="col">Question</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Frequency</th>
                        <th scope="col">Max value</th>
                        <th scope="col">Min value</th>
                      </tr>
                    </thead>
                    <tbody>
                    
                    ${allQues}

                    </tbody>
                  </table>  
                </div>                        
              </div>
            </div>
          `)
        }
        else{
          $('#paramDetails'+parameters[ind]._id).css('display','block')
        }
      }

      function continueAndSave(){
        let questions = []
        let allQues = ''
        $('input[name="selectQues"]:checked').each(function() {
          let qId = this.value
          let question= {
            id : qId,
            inputType : $('#inputType'+qId).val(),
            name : $('#question'+qId).val(),
            startDate : $('#startDate'+qId).val(),
            endDate : $('#endDate'+qId).val(),
            frequency : $('#frequency'+qId).val(),
            maxVal : $('#maxVal'+qId).val(),
            minVal : $('#minVal'+qId).val(),
          }
          console.log(question)
          questions.push(question)


        
        })        

        localStorage.followupQuestions = JSON.stringify({questions})
        let temp = JSON.parse(localStorage.followupQuestions).questions
        console.log({temp})
        window.location.href = `/doctor/followupQues/assign/continue?pId=${pId}`;


      }

      function setEndDate(qId){
        // this function sets the endDate min according to the selected startDate
        // because any date in endDate before startDate is invalid
        let stDate = new Date($('#startDate'+qId).val())
        let enDate = new Date(stDate.getFullYear(), stDate.getMonth(), stDate.getDate()+10)
        let stDateStr = stDate.getFullYear()+'-'+ (stDate.getMonth()<10? '0'+(stDate.getMonth()+1) : (stDate.getMonth()+1))+'-'+ ( stDate.getDate()<10? '0'+stDate.getDate() : stDate.getDate() )
        let enDateStr = enDate.getFullYear()+'-'+ (enDate.getMonth()<10? '0'+(enDate.getMonth()+1) : (enDate.getMonth()+1)) +'-'+ ( enDate.getDate()<10? '0'+enDate.getDate() : enDate.getDate() )
        
        $('#endDate'+qId).attr('min', stDateStr)
        $('#endDate'+qId).attr('value', enDateStr)
      }

      function checkCount(qId, parameterInd){
        console.log('in checkCount() id found= '+qId+', '+parameterInd)
        if($('#selectQues'+qId).is(":checked")){
          currentCnt[parameterInd]++
          totalCnt++
        }
        else{
          currentCnt[parameterInd]--
          totalCnt--
        }
        $("#current"+parameters[parameterInd]._id).replaceWith(`
          <div class="selected-current" id="current${parameters[parameterInd]._id}">
            Selected from current: ${currentCnt[parameterInd]}
          </div>
        `)
        for(let i=0; i<parameters.length; i++){
          if(isCreated[i]){
            $("#total"+parameters[i]._id).replaceWith(`
              <div class="total-selected" id="total${parameters[i]._id}">
                Total Selected Questions: ${totalCnt}
              </div>
            `)
          }
        }
        
      }
    </script>
  </body>
</html>
