<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'> -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet">

    <!-- stylesheet for navbar -->
    <link rel="stylesheet" href="/assets/cssFiles/navbar.css">
    <link rel="stylesheet" href="/assets/cssFiles/home.css" />
    <link rel="stylesheet" href="/assets/cssFiles/footer.css" />
    <!-- for loader -->
    <script src="/assets/jsFiles/loader.js"></script>    
    <link rel="stylesheet" href="/assets/cssFiles/loader.css" />


    <title>Home-Amar.health</title>
  </head>

  <body>
    <!-- display loading icon -->
    <div class="se-pre-con"></div>
    <!-- ends -->
    <!-- navigation bar -->
    <% include ./segments/navbar %>

    <main>
      <div class="content-wrap">
        <% let backgroundImagePath = (typeof data != 'undefined' && typeof data.coverImagePath != 'undefined') ? data.coverImagePath: '/resources/takingRecord.jpg' %>
        <div class="banner" style="background-image: url('<%= backgroundImagePath %>')">
          <div class="banner-title">
            <h1>
              Organize your medical information with us
            </h1>
          </div>
          <% if(typeof navDisplayName === 'undefined' || navDisplayName == '') {%>
          <div class="banner-btn" onclick="location.href='/auth/login'">
            <button >
              Register for free
            </button>
          </div>
          <% } %>
        </div>

        <div class="about-us">
          <div class="text-container">
            <h1>
              About us
            </h1>
            <p >
              <%= typeof data != 'undefined' && data!=null ? data.aboutUs.substring(0,Math.min(450, data.aboutUs.length)) : '' %>
              <%if(data.aboutUs.length>450) {%>
                 <span id="aboutUs<%=data._id %>" style="display: none;"><%= data.aboutUs.substring(450, data.aboutUs.length)%></span> <a href="" onclick="return false;"><span id = 'readMore<%=data._id %>' class='readMore' onclick="toggle('aboutUs<%=data._id %>','readMore<%=data._id %>', 'more')">... Read More</span></a>
              <%}%>
            </p>
          </div>
          <div class="about-photo">
            <div class="img-container">

              <% let aboutUsImagePath = (typeof data != 'undefined' && typeof data.aboutUsImagePath != 'undefined') ? data.aboutUsImagePath: '/resources/consultation.jpg' %>
              <img src="<%= aboutUsImagePath %>" alt="Photo is not loaded">
            </div>          
          </div>
        </div>
        <div class="service-container">
          <div class="service-about">
            <h1>Become familier with our services.</h1>
            <h1>Make life easy</h1>    
          </div>
          <div class="all-services">
            <% if(typeof data != 'undefined' && data!=null && typeof data.services!= 'undefined'){ %>
              <% for(let i=0; i<data.services.length; i++){ %>
                <%if(i==0) {%>
                  <div class="service">
                    <div class="service-icon">
                      <i class="far fa-clipboard"></i>
                    </div>
                    <div class="service-detail">
                      <p >
                        <%= typeof data != 'undefined' && data!=null ? data.services[i].details.substring(0,Math.min(100, data.services[i].details.length)) : '' %>
                        <%if(data.services[i].details.length>100) {%>
                          <span id="serviceDetails<%=data.services[i]._id %>" style="display: none;"><%= data.services[i].details.substring(100, data.services[i].details.length)%></span> <a href="" onclick="return false;"><span id = 'readMore<%=data.services[i]._id %>' class='readMore' onclick="toggle('serviceDetails<%=data.services[i]._id %>','readMore<%=data.services[i]._id %>', 'more')">... Read More</span></a>
                        <%}%>
                      </p>
                    </div> 
                  </div> 
                <%} else if(i==1) {%>
                  <div class="service">
                    <div class="service-icon">
                      <i class="fas fa-user-md"></i>
                    </div>
                    <div class="service-detail">
                      <p >
                        <%= typeof data != 'undefined' && data!=null ? data.services[i].details.substring(0,Math.min(100, data.services[i].details.length)) : '' %>
                        <%if(data.services[i].details.length>100) {%>
                          <span id="serviceDetails<%=data.services[i]._id %>" style="display: none;"><%= data.services[i].details.substring(100, data.services[i].details.length)%></span> <a href="" onclick="return false;"><span id = 'readMore<%=data.services[i]._id %>' class='readMore' onclick="toggle('serviceDetails<%=data.services[i]._id %>','readMore<%=data.services[i]._id %>', 'more')">... Read More</span></a>
                        <%}%>
                      </p>
                    </div> 
                  </div> 
                <%} else if(i==2) {%>
                  <div class="service">
                    <div class="service-icon">
                      <i class="far fa-bell"></i>
                    </div>
                    <div class="service-detail">
                      <p >
                        <%= typeof data != 'undefined' && data!=null ? data.services[i].details.substring(0,Math.min(100, data.services[i].details.length)) : '' %>
                        <%if(data.services[i].details.length>100) {%>
                          <span id="serviceDetails<%=data.services[i]._id %>" style="display: none;"><%= data.services[i].details.substring(100, data.services[i].details.length)%></span> <a href="" onclick="return false;"><span id = 'readMore<%=data.services[i]._id %>' class='readMore' onclick="toggle('serviceDetails<%=data.services[i]._id %>','readMore<%=data.services[i]._id %>', 'more')">... Read More</span></a>
                        <%}%>
                      </p>
                    </div> 
                  </div> 
                <%}%>
              <% } %> 
            <% }%>
          </div>               
        </div>
        <div class="feature-container">
          <div class="feature-title">
            Our Features
          </div>
          <% if(typeof data != 'undefined' && data!=null && typeof data.features!= 'undefined'){ %>
            <% for(let i=0; i<data.features.length; i++){ %>
              <%if(i%2==0) {%>
                <div class="feature">
                  <div class="details">
                    <h1><%= typeof data != 'undefined' && data!=null ? data.features[i].name : '' %></h1>
                    <p >
                      <%= typeof data != 'undefined' && data!=null ? data.features[i].details.substring(0,Math.min(400, data.features[i].details.length)) : '' %>
                      <%if(data.features[i].details.length>400) {%>
                        <span id="featureDetails<%=data.features[i]._id %>" style="display: none;"><%= data.features[i].details.substring(400, data.features[i].details.length)%></span> <a href="" onclick="return false;"><span id = 'readMore<%=data.features[i]._id %>' class='readMore' onclick="toggle('featureDetails<%=data.features[i]._id %>','readMore<%=data.features[i]._id %>', 'more')">... Read More</span></a>
                      <%}%>
                    </p>
                  </div>
                  <div class="image-container">
                    <div class="image-holder">
                      <img src="<%= (typeof data.features[i].imagePath != 'undefined') ? data.features[i].imagePath: '/resources/doctor.jpg' %> " alt="Photo is not loaded">
                    </div>
                  </div>
                </div>
              <%} else if(i%2==1) {%>
                <div class="feature">
                  <div class="image-container">
                    <div class="image-holder">
                      <img src="<%= (typeof data.features[i].imagePath != 'undefined') ? data.features[i].imagePath: '/resources/record.jpg' %>" alt="Photo is not loaded">
                    </div>
                  </div>
                  <div class="details">
                    <h1><%= typeof data != 'undefined' && data!=null ? data.features[i].name : '' %></h1>
                    <p >
                      <%= typeof data != 'undefined' && data!=null ? data.features[i].details.substring(0,Math.min(400, data.features[i].details.length)) : '' %>
                      <%if(data.features[i].details.length>400) {%>
                        <span id="featureDetails<%=data.features[i]._id %>" style="display: none;"><%= data.features[i].details.substring(400, data.features[i].details.length)%></span> <a href="" onclick="return false;"><span id = 'readMore<%=data.features[i]._id %>' class='readMore' onclick="toggle('featureDetails<%=data.features[i]._id %>','readMore<%=data.features[i]._id %>', 'more')">... Read More</span></a>
                      <%}%>
                    </p>
                  </div>          
                </div> 
              <%}%>
            <% } %> 
          <% }%>
        </div>
        <div class="review-container">
          <div class="review-title">
            <h1>Thoughts of Users</h1>
          </div>
          <% if(typeof data != 'undefined' && data!=null && typeof data.reviews!= 'undefined'){ %>
            <% for(let i=0; i<data.reviews.length; i++){ %>
              <%if(i%2==0) {%>
                <div class="review">
                  <div class="details">
                    <h1><%= typeof data != 'undefined' && data!=null ? data.reviews[i].name : '' %></h1>
                    <p >
                      <%= typeof data != 'undefined' && data!=null ? data.reviews[i].details.substring(0,Math.min(400, data.reviews[i].details.length)) : '' %>
                      <%if(data.reviews[i].details.length>400) {%>
                        <span id="reviewDetails<%=data.reviews[i]._id %>" style="display: none;"><%= data.reviews[i].details.substring(400, data.reviews[i].details.length)%></span>
                          <a href="" onclick="return false;"><span id = 'readMore<%=data.reviews[i]._id %>' class='readMore' onclick="toggle('reviewDetails<%=data.reviews[i]._id %>','readMore<%=data.reviews[i]._id %>', 'more')">... Read More</span></a>
                      <%}%>
                    </p>
                  </div>
                  <div class="image-container">
                    <div class="image-holder">
                      <img src="<%= (typeof data.reviews[i].imagePath != 'undefined') ? data.reviews[i].imagePath: '/resources/record.jpg' %>" alt="Photo is not loaded">
                    </div>
                  </div>            
                </div>
              <%} else if(i%2==1) {%>
                <div class="review">
                  <div class="image-container">
                    <div class="image-holder">
                      <img src="<%= (typeof data.reviews[i].imagePath != 'undefined') ? data.reviews[i].imagePath: '/resources/record.jpg' %>" alt="Photo is not loaded">
                    </div>
                  </div> 
                  <div class="details">
                    <h1><%= typeof data != 'undefined' && data!=null ? data.reviews[i].name : '' %></h1>
                    <p >
                      <%= typeof data != 'undefined' && data!=null ? data.reviews[i].details.substring(0,Math.min(400, data.reviews[i].details.length)) : '' %>
                      <%if(data.reviews[i].details.length>400) {%>
                        <span id="reviewDetails<%=data.reviews[i]._id %>" style="display: none;"><%= data.reviews[i].details.substring(400, data.reviews[i].details.length)%></span>
                          <a href="" onclick="return false;"><span id = 'readMore<%=data.reviews[i]._id %>' class='readMore' onclick="toggle('reviewDetails<%=data.reviews[i]._id %>','readMore<%=data.reviews[i]._id %>', 'more')">... Read More</span></a>
                      <%}%>
                    </p>
                  </div>
                             
                </div>
              <% } %> 
            <% } %> 
          <% }%>
        </div>
      </div>
    </main>


    <% include ./segments/footer.ejs %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      function toggle(spanId, readMoreId, state){
        console.log({spanId, readMoreId})
        $( "#"+spanId ).slideToggle( "slow" );
        if(state == 'more'){
          $('#'+ readMoreId).replaceWith(`<span id = '${readMoreId}' class='readMore' onclick="toggle('${spanId}','${readMoreId}', 'less')">Read Less</span>`)
        }else{
          $('#'+ readMoreId).replaceWith(`<span id = '${readMoreId}' class='readMore' onclick="toggle('${spanId}','${readMoreId}', 'more')">... Read More</span>`)
        }
      }
    </script>
  </body>
</html>
