<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

    <!-- stylesheet for navbar -->
    <link rel="stylesheet" href="/assets/cssFiles/navbar.css">
    <link rel="stylesheet" href="/assets/cssFiles/notifications.css" />
    <!-- stylesheet for pagination -->
    <link rel="stylesheet" href="/assets/cssFiles/pagination.css" />

    <!-- for loader -->
    <script src="/assets/jsFiles/loader.js"></script>    
    <link rel="stylesheet" href="/assets/cssFiles/loader.css" />


    <title>Notifications-Amar.health</title>
  </head>

  <body onload="">
    <!-- display loading icon -->
    <div class="se-pre-con"></div>
    <!-- ends -->

    <!-- navigation bar -->
    <% include ./segments/navbar %>
    
    <main>
      <div class="side-bar">
        <div class="topic-container">
          <div class="topic">
            <h3>Activities</h3>
          </div>
          <div class="angle">
            <i class="fas fa-angle-left" id="leftAngle"  onclick="hideSidebar()"></i>
          </div>
        </div>
        <!-- here are all sidebar items -->
        <div class="nav-sec-cont">
          <div class="card">
            <div class="card-title">
              Filter Notifications
            </div>
            <div class="filter-container">
              <div class="filter">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="doctorRequests">
                  <label class="form-check-label" for="doctorRequests">
                    Doctor requests
                  </label>
                </div>
              </div>
              <div class="filter">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="followupWarning">
                  <label class="form-check-label" for="followupWarning">
                    Patient followup warnings
                  </label>
                </div>
              </div>
              <div class="filter">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="followupReminderes">
                  <label class="form-check-label" for="followupReminderes">
                    Followup answer reminders
                  </label>
                </div>
              </div>
            </div>
            <div class="btn-container">
              <button type="submit" class="search-btn">
                Search
              </button>
            </div>

          </div>

        </div>
      </div>
      
      <div class="wrapper" id="">
        <div class="notify-bar">
          <div class="angle">
            <i class="fas fa-angle-right" onclick="displaySidebar()"></i>
          </div>
          <div class="selected-current" id="">
            Notifications
          </div>
          
        </div>
        
        <div class="page-holder" id="">
          <div class="card">
            <div class="card-title">
              Filter Notifications
            </div>
            <div class="filter-container">
              <div class="filter">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="doctorRequests">
                  <label class="form-check-label" for="doctorRequests">
                    Doctor requests
                  </label>
                </div>
              </div>
              <div class="filter">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="followupWarning">
                  <label class="form-check-label" for="followupWarning">
                    Patient followup warnings
                  </label>
                </div>
              </div>
              <div class="filter">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="followupReminderes">
                  <label class="form-check-label" for="followupReminderes">
                    Followup answer reminders
                  </label>
                </div>
              </div>
            </div>
            <div class="btn-container">
              <button type="submit" class="search-btn">
                Search
              </button>
            </div>

          </div>
          <div class="table-responsive">
            <table class="table table-hover ">                         
              <tbody>
                <% if(typeof notifications != undefined && notifications.length != 0) { %>
                  
                  <% for(let notification of notifications) {%>
                    
                    <% if(notification.notificationType == 'doctorRequest'){ %>
                      <tr class="request-notify <%= (notification.seen == false) ? 'new' : '' %> ">
                        <td class="icon-cont">
                          <i class="fas fa-user-plus"></i>
                        </td>
                        <td class="text-cont">
                          <a href=""> Dr. <%= notification.doctor.name %> </a> wants to add you as patient   
                        </td>
                        <td class="btn-cont">
                          <button type="button" class="btn-safe acceptButton" data-notification-id="<%= notification._id %>" data-doctor-id="<%= notification.doctor._id %>" id="acceptButton-<%= notification._id %>"> Accept </button>
                          <button type="button" class="btn-danger declineButton" data-notification-id="<%= notification._id %>" id="declineButton-<%= notification._id %>"> Decline </button>
                          <p id="requestAccepted-<%= notification._id %>" style="display: none;"> Request Accepted </p>
                          <p id="requestDeclined-<%= notification._id %>" style="display: none;"> Request Declined </p>
                        </td>
                      </tr>
                    <% } else if(notification.notificationType == 'irregularity') { %>
                      <tr class="warning-notify <%= (notification.seen == false) ? 'new' : '' %>">
                        <td class="icon-cont">
                          <i class="fas fa-exclamation-circle"></i>
                        </td>
                        <td class="text-cont">
                           Your patient <a href="">Abdur Rahman</a> has an irregularity
                        </td>
                        <td class="btn-cont">
                          <button type="button">Check</button>                    
                        </td>
                      </tr>
                    <%} else { %>
                      <tr class="reminder-notify <%= (notification.seen == false) ? 'new' : '' %>">
                        <td class="icon-cont">
                          <i class="far fa-clock"></i>
                        </td>
                        <td class="text-cont">
                          You have <%= notification.followupCnt %> followup questions to answer           
                        </td>
                        <td class="btn-cont">
                          <button type="button">View</button>                    
                        </td>
                      </tr>
                    <% } %> 
                  
                  <% } %>

                <% } else { %>
                  <tr class="request-notify new">
                    <td class="icon-cont">
                      <i class="fas fa-user-plus"></i>
                    </td>
                    <td class="text-cont">
                      <a href="">Dr. Rahman Khan</a> wants to add you as patient   
                    </td>
                    <td class="btn-cont">
                      <button type="button" class="btn-safe">Accept</button>
                      <button type="button" class="btn-danger">Decline</button>
                    </td>
                  </tr>
                  <tr class="warning-notify">
                    <td class="icon-cont">
                      <i class="fas fa-exclamation-circle"></i>
                    </td>
                    <td class="text-cont">
                       Your patient <a href="">Abdur Rahman</a> has an irregularity
                    </td>
                    <td class="btn-cont">
                      <button type="button">Check</button>                    
                    </td>
                  </tr>
                  <tr class="reminder-notify">
                    <td class="icon-cont">
                      <i class="far fa-clock"></i>
                    </td>
                    <td class="text-cont">
                      You have 4 followup questions to answer           
                    </td>
                    <td class="btn-cont">
                      <button type="button">View</button>                    
                    </td>
                  </tr>
                 <% } %> 
              </tbody>
            </table>  
          </div> 
          
          <div class="pagination-holder">
            <% include ./segments/pagination %>
          </div>        
        </div>
      </div>

     
    </main>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script>
      var stDate = new Date();
      var enDate = new Date(stDate.getFullYear()+5, stDate.getMonth(), stDate.getDate())
      // adding 1 to getMonth() because in this function month is 0 indexed Jan=0th month
      // but while taking input month is 1 indexed, Jan = 1th month 
      var stDateStr = stDate.getFullYear()+'-'+ ( stDate.getMonth()<10? '0'+stDate.getMonth()+1 : stDate.getMonth()+1 )+'-'+ ( stDate.getDate()<10? '0'+stDate.getDate() : stDate.getDate() )
      var enDateStr = enDate.getFullYear()+'-'+ ( enDate.getMonth()<10? '0'+enDate.getMonth()+1 : enDate.getMonth()+1 )+'-'+ ( enDate.getDate()<10? '0'+enDate.getDate() : enDate.getDate() )

      function displaySidebar(){
        // $('#rightAngle').css('display','none')
        $('#leftAngle').css('display','block')
        $('.side-bar').css('left', '0')
      }
      function hideSidebar(){
        $('#leftAngle').css('display','none')
        // $('#rightAngle').css('display','block')
        $('.side-bar').css('left', '-300px')
      }
      
      function screenDisplayCheck () {
          if (window.innerWidth >= 1000) {
            $('.side-bar').css('left', '0')
          }
          else {
            console.log('came in resize less 1000psx')
            $('.angle').css('display','none')
            $('.side-bar').css('left', '-300px')
          }
      }

      $(".acceptButton").on("click", function(e){
        e.preventDefault();
        // console.log(this.id, e.target.id)

        let data = {
          notificationId: $(this).data('notification-id'),
          doctorId: $(this).data('doctor-id')
        }
        
        $.ajax({
          type: 'POST',
          url: '/patient/acceptDoctorRequest',
          data,
          success: (response) => {
            if (response.status) {
              let notificationId = $(this).data('notification-id')
              $(`#acceptButton-${notificationId}`).hide()
              $(`#declineButton-${notificationId}`).hide()
              $(`#requestAccepted-${notificationId}`).show()
            }
            else{
              console.log("Error in server.")
              alert("Request Accepting failed")
            }
          },
          error: () => {
            console.log("Error in sending request to server.")
            alert("Request Accepting failed")
          }
        });

      })

      $(".declineButton").on("click", function(e){
        e.preventDefault();
        // console.log(this.id, e.target.id)

        let data = {
          notificationId : $(this).data('notification-id')
        }
        
        $.ajax({
          type: 'POST',
          url: '/patient/deleteDoctorRequest',
          data,
          success: (response) => {
            if (response.status) {
              let notificationId = $(this).data('notification-id')
              $(`#acceptButton-${notificationId}`).hide()
              $(`#declineButton-${notificationId}`).hide()
              $(`#requestDeclined-${notificationId}`).show()
            }
            else{
              console.log("Error in server.")
              alert("Request declining failed")
            }
          },
          error: () => {
            console.log("Error in sending request to server.")
            alert("Request declining failed")
          }
        });

      })

      window.onresize = screenDisplayCheck
      window.onload = screenDisplayCheck

    
    </script>
  </body>
</html>
