<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

    <!-- stylesheet for navbar -->
    <link rel="stylesheet" href="/assets/cssFiles/navbar.css">
    <link rel="stylesheet" href="/assets/cssFiles/doctorRegistration.css" />
    
    <!-- for loader -->
    <script src="/assets/jsFiles/loader.js"></script>    
    <link rel="stylesheet" href="/assets/cssFiles/loader.css" />
    <!-- for date range picker -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- for address cdn -->    
    <script src="//geodata.solutions/includes/countrystatecity.js"></script>

    <title>Profile update</title>
  </head>

  <body>
    <!-- display loading icon -->
    <div class="se-pre-con"></div>
    <!-- ends -->

    <!-- navigation bar -->
    <% include ./segments/navbar %>
    
    <main>
      <div class="wrapper">
        <div class="notify-bar">
          <div class="title">
            Registration form
          </div>
        </div>
        <form method="POST"action="/patient/profile/update-personalInfo">
          <div class="ques-container">
            <% include ./segments/messages %>          
            <div class="single-ques">
              <div class="label">
                *First name:
              </div>
              <div class="input-field">
                <input type="text" name="firstName" class="form-control" value="<%= typeof patientDetails.name.firstName !== 'undefined' ? patientDetails.name.firstName : '' %>" required>
              </div>
            </div>
            <div class="single-ques">
              <div class="label">
                *Last name:
              </div>
              <div class="input-field">
                <input type="text" name="lastName" class="form-control" value="<%= typeof patientDetails.name.lastName !== 'undefined' ? patientDetails.name.lastName : '' %>" required>
              </div>
            </div>
            <div class="single-ques">
              <div class="label">
                *Display name:
              </div>
              <div class="input-field">
                <input type="text" name="displayName" class="form-control" value="<%= typeof patientDetails.name.displayName !== 'undefined' ? patientDetails.name.displayName : '' %>" required>
              </div>
            </div>
            <div class="single-ques">
              <div class="label">
               *Gender:
              </div>
              <div class="gender-cont">               
                <div class="gender-each">
                  <% if(typeof patientDetails.gender !== 'undefined' && patientDetails.gender.toString() =='male'){ %>
                    <input class="form-check-input" type="radio" name="gender" value="male" checked required>Male
                  <% } else { %>
                    <input class="form-check-input" type="radio" name="gender" value="male" required>Male
                  <% } %>
                </div>
                <div class="gender-each">
                  <% if(typeof patientDetails.gender !== 'undefined' && patientDetails.gender.toString() =='female'){ %>
                      <input class="form-check-input" type="radio" name="gender" value="female" checked>Female
                    <% } else { %>
                      <input class="form-check-input" type="radio" name="gender" value="female" >Female
                    <% } %>                  
                </div>                
                <div class="gender-each">
                  <% if(typeof patientDetails.gender !== 'undefined' && patientDetails.gender.toString() =='other'){ %>
                      <input class="form-check-input" type="radio" name="gender" value="other" checked>Other
                    <% } else { %>
                      <input class="form-check-input" type="radio" name="gender" value="other" >Other
                    <% } %>                  
                </div>
                <div class="gender-each">
                  <% if(typeof patientDetails.gender !== 'undefined' && patientDetails.gender.toString() =='notInterested'){ %>
                      <input class="form-check-input" type="radio" name="gender" value="notInterested" checked>Not Interested
                    <% } else { %>
                      <input class="form-check-input" type="radio" name="gender" value="notInterested" >Not Interested
                    <% } %>                  
                </div>
              </div>
            </div>
            <div class="single-ques">
              <div class="label">
                *Birth date:
              </div>
              <div class="input-field">
                <input type="date" name="birthDate" class="form-control" value="<%= typeof patientDetails.birthDate !== 'undefined' ? patientDetails.birthDate : '' %>" required>
              </div>
            </div>
            <div class="single-ques">
              <div class="label">
                Occupation:
              </div>
              <div class="input-field">
                <input type="text" name="occupation" class="form-control" value="<%= typeof patientDetails.occupation !== 'undefined' ? patientDetails.occupation : '' %>" >
              </div>
            </div>
            <div class="single-ques">
              <div class="label">
                Organization:
              </div>
              <div class="input-field">
                <input type="text" name="organization" class="form-control" value="<%= typeof patientDetails.organization !== 'undefined' ? patientDetails.organization : '' %>">
              </div>
            </div> 
            <div class="address-cont">
              <div class="sec-title">Address:</div>
              <div class="item-holder">
                <select name="country" class="countries" id="countryId">
                  <option value="<%= typeof patientDetails.location.country !== 'undefined' ? patientDetails.location.country : '' %>" selected>Select Country</option>
                </select>
                <select name="state" class="states" id="stateId">
                  <option value="<%= typeof patientDetails.location.state !== 'undefined' ? patientDetails.location.state : '' %>" selected>Select State</option>
                </select>
                <select name="city" class="cities" id="cityId">
                  <option value="<%= typeof patientDetails.location.city !== 'undefined' ? patientDetails.location.city : '' %>" selected>Select City</option>
                </select>
              </div>              
            </div>
            <div class="single-ques">
              <div class="label">
                Additional address:
              </div>
              <div class="input-field">
                <input type="text" name="additionalAddress" class="form-control" value="<%= typeof patientDetails.location.additionalAddress != 'undefined' ? patientDetails.location.additionalAddress : '' %>" >
              </div>
            </div> 
            <div class="single-ques">
              <div class="label">
                *Phone no:
              </div>
              <div class="input-field">
                <input type="text" name="phoneNumber" class="form-control" value="<%= typeof patientDetails.phoneNumber != 'undefined' ? patientDetails.phoneNumber : '' %>" required>
              </div>
            </div>

            <%  let nidSelected = '', birthCertificateSelected = '', passportSelected = '';
                if (typeof patientDetails.idChoice !== 'undefined'){
                    nidSelected = (patientDetails.idChoice.toString() == 'nidNumber') ? 'selected' : ''
                    birthCertificateSelected = (patientDetails.idChoice.toString() == 'birthCertificateNumber') ? 'selected' : ''
                    passportSelected = (patientDetails.idChoice.toString() == 'passportNumber') ? 'selected' : ''
                }
            %>
            <div class="single-ques">
              <div class="label">
                <select class="form-control" name="idChoice">
                  <option value="nidNumber" <%= nidSelected %> >*NID</option>
                  <option value="birthCertificateNumber" <%= birthCertificateSelected %> >*Birth certificate</option>
                  <option value="passportNumber" <%= passportSelected %> >*Passport</option>
                </select>                
              </div>
              <div class="input-field">
                <input type="text" id="idNumber" name="idNumber" class="form-control" value="<%= typeof patientDetails.idNumber != 'undefined' ? patientDetails.idNumber : '' %>" required>
              </div>
            </div>        
          
            <div class="single-ques">
              <div class="label">
                *Email:
              </div>
              <div class="input-field">
                <input type="email" name="email" class="form-control" value="<%= typeof patientDetails.email != 'undefined' ? patientDetails.email : '' %>" required>
              </div>
            </div>
            <div class="showPassChange" onclick="showPassSec()">
                <i class="fas fa-key"></i>
                <p>Change password</p>                
            </div>
            <div class="addPlacePassword"></div>
                         
                                              
            <div class="help-block">
              *Required fields
            </div>
            <div class="submit-btn">
              <button type="submit">Submit</button>
            </div>
          </div> 
            
        </form>
        
      </div>
     
      
    </main>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script>
        function showPassSec(){
            $('.showPassChange').css("display", "none");
            $('.passwordChange').css("display", "block");
            $('.addPlacePassword').replaceWith(
            `<div class="passwordChange">`+
             `   <div class="single-ques">`+
              `      <div class="label">`+
               `       *New password:`+
                `    </div>`+
                 `   <div class="input-field">`+
                  `    <input type="password" name="password" class="form-control" required>`+
                   ` </div>`+
                  `</div>`+
                  `<div class="single-ques">`+
                   ` <div class="label">`+
                    `  *Confirm new password:`+
                    `</div>`+
                    `<div class="input-field">`+
                     ` <input type="password" name="password2"  class="form-control" required>`+
                    `</div>`+
                  `</div>   `+
            `</div>`
            )          
        }
    </script>
  </body>
</html>
