<div class="family-container">
    <div class="row">
        <div class="col-2 tag">
            <label class="fieldlabels">First Name</label>
        </div>
        <div class="col-10 value">
            <p id=""><%= data[0].name.firstName %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-2 tag">
            <label class="fieldlabels">Last Name</label>
        </div>
        <div class="col-10 value">
            <p id=""><%= data[0].name.lastName %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-2 tag">
            <label class="fieldlabels">Display Name</label>
        </div>
        <div class="col-10 value">
            <p id=""><%= data[0].name.displayName %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-2 tag">
            <label class="fieldlabels">Email</label>
        </div>
        <div class="col-10 value">
            <p id=""><%= data[0].email %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-2 tag">
            <label class="fieldlabels">Date of Birth</label>
        </div>
        <div class="col-10 value">
            <p id=""><%= data[0].birthDate %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-2 tag">
            <label class="fieldlabels">phoneNumber</label>
        </div>
        <div class="col-10 value">
            <p id=""><%= data[0].phoneNumber %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-2 tag">
            <label class="fieldlabels">NID number</label>
        </div>
        <div class="col-10 value">
            <p id=""><%= data[0].nidNumber %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-2 tag">
            <label class="fieldlabels">Gender</label>
        </div>
        <div class="col-10 value">
            <p id=""><%= data[0].gender %></p>
        </div>
    </div>
</div>