<fieldset>
  <div class="form-card">

    <div class="secondary-container title-bar">
      <div class="row">
        <div class="col-7">
          <h2 class="fs-title">Lifestyle</h2>
        </div>
        <div class="col-5">
          <h2 class="steps">Step 3 - 6</h2>
        </div>
      </div>
    </div>

    <div id="addPlace3"></div>

    <div>
     <div class="secondary-container">

        <h4 class="subsection-title">Substance Use History</h4>

      </div>


      <div class="subtance-history-container">



        <div class="accordion secondary-container" id="substanceAccordion-1">

          <% if(typeof substanceNamesJson != 'undefined'){ %>
          <% for(let i = 0 ; i < Math.ceil(substanceNamesJson.length/2); i++) {%>

          <div class="card collapse-item">

            <div class="card-header collapse-item-header" id="heading-<%= i %>" data-toggle="collapse"
              data-target="#collapse-<%= i %>">


              <% if(i == 0){ %>

              <a class="btn text-left" role="button" aria-expanded="true" aria-controls="collapse-<%= i %>">
                <h6> <%= substanceNamesJson[i].name %></h6>
              </a>

              <% }else{ %>

              <a class="btn collapsed text-left" role="button" aria-expanded="false" aria-controls="collapse-<%= i %>">
                <h6> <%= substanceNamesJson[i].name %></h6>
              </a>

              <% } %>


            </div>

            <% if(i == 0){ %>
            <div id="collapse-<%= i %>" class="collapse show" aria-labelledby="heading-<%= i %>"
              data-parent="#substanceAccordion-1">

              <% } else{ %>
              <div id="collapse-<%= i %>" class="collapse" aria-labelledby="heading-<%= i %>"
                data-parent="#substanceAccordion-1">
                <% } %>
                <div class="card-body">

                  <label class="fieldlabels" for="for_popup_first_use_<%= i %>">Age when you first used this:</label>
                  <input type="text" name="for_popup_first_use_<%= i %>" id="for_popup_first_use_<%= i %>"
                    placeholder="" />

                  <label class="fieldlabels" for="for_popup_how_much_use_<%= i %>">How much & how often did you use
                    this?</label>
                  <input type="text" name="for_popup_how_much_use_<%= i %>" id="for_popup_how_much_use_<%= i %>"
                    placeholder="" />

                  <label class="fieldlabels" for="for_popup_how_many_year_<%= i %>">How many years did you use
                    this?</label>
                  <input type="text" name="for_popup_how_many_year_<%= i %>" id="for_popup_how_many_year_<%= i %>"
                    placeholder="" />

                  <label class="fieldlabels" for="for_popup_last_use_<%= i %>">When did you last use this?</label>
                  <input type="text" name="for_popup_last_use_<%= i %>" id="for_popup_last_use_<%= i %>"
                    placeholder="" />

                  <label class="fieldlabels" for="currently_use">Do you currently use this?</label>
                  <div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="radio_yes_<%= i %>" name="for_popup_currently_use_<%= i %>"
                        class="custom-control-input" value="yes">
                      <label class="custom-control-label" for="radio_yes_<%= i %>">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="radio_no_<%= i %>" name="for_popup_currently_use_<%= i %>"
                        class="custom-control-input" value="no">
                      <label class="custom-control-label" for="radio_no_<%= i %>">No</label>
                    </div>
                  </div>


                </div>

              </div>

            </div>

            <% } %>
            <% } %>

          </div>


          <div class="accordion secondary-container" id="substanceAccordion-2">

            <% if(typeof substanceNamesJson != 'undefined'){ %>
            <% for(let i = Math.ceil(substanceNamesJson.length/2) ; i < substanceNamesJson.length; i++) {%>

            <div class="card collapse-item">

              <div class="card-header collapse-item-header" id="heading-<%= i %>" data-toggle="collapse"
                data-target="#collapse-<%= i %>">


                <% if(i == Math.ceil(substanceNamesJson.length/2)){ %>

                <a class="btn text-left" role="button" aria-expanded="true" aria-controls="collapse-<%= i %>">
                  <h6> <%= substanceNamesJson[i].name %></h6>
                </a>

                <% }else{ %>

                <a class="btn collapsed text-left" role="button" aria-expanded="false"
                  aria-controls="collapse-<%= i %>">
                  <h6> <%= substanceNamesJson[i].name %></h6>
                </a>

                <% } %>


              </div>

              <% if(i == Math.ceil(substanceNamesJson.length/2)){ %>
              <div id="collapse-<%= i %>" class="collapse show" aria-labelledby="heading-<%= i %>"
                data-parent="#substanceAccordion-2">

                <% } else{ %>
                <div id="collapse-<%= i %>" class="collapse" aria-labelledby="heading-<%= i %>"
                  data-parent="#substanceAccordion-2">
                  <% } %>
                  <div class="card-body">

                    <label class="fieldlabels" for="for_popup_first_use_<%= i %>">Age when you first used this:</label>
                    <input type="text" name="for_popup_first_use_<%= i %>" id="for_popup_first_use_<%= i %>"
                      placeholder="" />

                    <label class="fieldlabels" for="for_popup_how_much_use_<%= i %>">How much & how often did you use
                      this?</label>
                    <input type="text" name="for_popup_how_much_use_<%= i %>" id="for_popup_how_much_use_<%= i %>"
                      placeholder="" />

                    <label class="fieldlabels" for="for_popup_how_many_year_<%= i %>">How many years did you use
                      this?</label>
                    <input type="text" name="for_popup_how_many_year_<%= i %>" id="for_popup_how_many_year_<%= i %>"
                      placeholder="" />

                    <label class="fieldlabels" for="for_popup_last_use_<%= i %>">When did you last use this?</label>
                    <input type="text" name="for_popup_last_use_<%= i %>" id="for_popup_last_use_<%= i %>"
                      placeholder="" />

                    <label class="fieldlabels" for="currently_use">Do you currently use this?</label>
                    <div>
                      <div class="custom-control custom-radio">
                        <input type="radio" id="radio_yes_<%= i %>" name="for_popup_currently_use_<%= i %>"
                          class="custom-control-input" value="yes">
                        <label class="custom-control-label" for="radio_yes_<%= i %>">Yes</label>
                      </div>
                      <div class="custom-control custom-radio">
                        <input type="radio" id="radio_no_<%= i %>" name="for_popup_currently_use_<%= i %>"
                          class="custom-control-input" value="no">
                        <label class="custom-control-label" for="radio_no_<%= i %>">No</label>
                      </div>
                    </div>

                  </div>

                </div>

              </div>

              <% } %>
              <% } %>

            </div>
          </div>

        </div>

      </div>

      <input type="button" name="next" class="next action-button" value="Next" />
      <input type="button" name="previous" class="previous action-button-previous" value="Previous" />

      <script>
        $.get("/profile/getSectionData/Lifestyle", (data) => {
          let elmStr = "";
          for (let i = 0; i < data.subSections.length; i++) {
            elmStr += getSubSectionStr(data.subSections[i]);
          }
          $("#addPlace3").replaceWith(elmStr);
        });

      </script>

</fieldset>