<fieldset>
    <div class="form-card">
      <div class="secondary-container title-bar">
        <div class="row">
          <div class="col-7">
            <h2 class="fs-title">Family Information:</h2>
          </div>
          <div class="col-5">
            <h2 class="steps">Step 2 - 5</h2>
          </div>
        </div>
      </div>
      
      <div id="addPlace2"></div>

      <div class="secondary-container">
        <!-- family history -->
        <div class="family-container">
          <ul class="nav nav-tabs" id="familyInfoTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="parents-tab" data-toggle="tab" href="#parents" role="tab"
                aria-controls="parents" aria-selected="true">Parents</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="siblings-tab" data-toggle="tab" href="#siblings" role="tab" aria-controls="siblings"
                aria-selected="false">Siblings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="children-tab" data-toggle="tab" href="#children" role="tab" aria-controls="children"
                aria-selected="false">Children</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="relatives-tab" data-toggle="tab" href="#relatives" role="tab"
                aria-controls="relatives" aria-selected="false">Other relatives</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="parents" role="tabpanel" aria-labelledby="parents-tab">
              <div class="part" id="parentsInfo">
                <div class="sub-part-row">
                  <h5 class="left subsection-title">Father's details</h5>               
                </div>
                <div class="sub-part" id='fatherDetails'>
  
                  <div class="sub-part-row">
                    <p class="title">
                      Name
                    </p>
                  </div>
                  <div class="sub-sub-part">
                    <input type="text" name="" name='name'></input>
                  </div>
                  <br>                
                  <div class="collapse" id="collapseExamplefatherDetails">
                    <div class="sub-part-row">
                      <p class="title">
                        Relation with you
                      </p>
                    </div>
                    <div class="sub-sub-part">
                      <input type="text" name=""></input>
                    </div>
                    <br>
                    <div class="sub-part-row">
                      <p class="title">
                        Gender
                      </p>
                    </div>
                    <div class="sub-sub-part">
                      <input type="text"></input>
                    </div>
                    <br>
                    <hr>
                    <p class="title">
                      Birth date
                    </p>
                    <div class="sub-sub-part">
                      <input type="date" name='birthDate'></input>
                    </div>
                    <hr>
                    <p class="title">
                      Physical health
                    </p>
                    <p>Suffered physcal problems:</p>
                    <div class="sub-sub-part">
                      <div class="row">
                        <div class="col">
                          <% if(typeof physicalDiseasesJson != 'undefined'){ %>
                          <% for(let i = 0 ; i < Math.floor(physicalDiseasesJson.length/2); i++) {%>
                            <p class="physical-prob"><%= physicalDiseasesJson[i].name %></p>
                          
                          <% } %>
                          <% } %>
                        </div>
                        <div class="col">
                          <% if(typeof physicalDiseasesJson != 'undefined'){ %>
                          <% for(let i = Math.floor(physicalDiseasesJson.length/2) ; i < physicalDiseasesJson.length; i++) {%>
                            <p class="physical-prob"><%= physicalDiseasesJson[i].name %></p>
                          
                          <% } %>
                          <% } %>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <p class="title">
                      Mental health
                    </p>
                    <p>Suffered mental problems:</p>
                    <div class="sub-sub-part">
                      <div class="row">
                        <div class="col">
                          <% if(typeof mentalDiseasesJson != 'undefined'){ %>
                          <% for(let i = 0 ; i < Math.floor(mentalDiseasesJson.length/2); i++) {%>
  
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id='<%= mentalDiseasesJson[i].id %>'
                              name='<%= mentalDiseasesJson[i].name%>' onclick="return false;">
                            <label class="custom-control-label" for='<%= mentalDiseasesJson[i].id %>'>
                              <%= mentalDiseasesJson[i].name %>
                            </label>
                          </div>
                          <% } %>
                          <% } %>
                        </div>
                        <div class="col">
                          <% if(typeof mentalDiseasesJson != 'undefined'){ %>
                          <% for(let i = Math.floor(mentalDiseasesJson.length/2) ; i < mentalDiseasesJson.length; i++) {%>
  
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id='<%= mentalDiseasesJson[i].id %>'
                              name='<%= mentalDiseasesJson[i].name%>' onclick="return false;" checked>
                            <label class="custom-control-label" for='<%= mentalDiseasesJson[i].id %>'>
                              <%= mentalDiseasesJson[i].name %>
                            </label>
                          </div>
                          <% } %>
                          <% } %>
                        </div>
                      </div>
                    </div>
                    <br>
                    <p class="title">
                      Occupation
                    </p>
                    <div class="sub-sub-part">
                      <input type="text" name="question"></input>
                    </div>
                    <p class="title">
                      Is the person dead?
                    </p>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="personDead" name="dead" class="custom-control-input" value="Yes" onclick="displayConditionalSection(['deathDetails']);">
                      <label class="custom-control-label" for="personDead">Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" id="personNotDead" name="dead" class="custom-control-input" value="No" onclick="hideConditionalSection(['deathDetails']);" >
                      <label class="custom-control-label" for="personNotDead">No</label>
                    </div>
                    <div id="deathDetails">
                      <p class="title">
                        Date of death
                      </p>
                      <div class="sub-sub-part">
                        <input type="text"></input>
                      </div>
                      <p class="title">
                        Cause of death
                      </p>
                      <div class="sub-sub-part">
                        <input type="text"></input>
                      </div>
                    </div>
                    
                  </div>
                  <br>
                  <div class="extend">
                    <p>
                      <a class="btn btn-light" data-toggle="collapse" href="#collapseExamplefatherDetails" id="seeMore"
                        role="button" onclick="changeButtonText(this.id)" aria-expanded="false"
                        aria-controls="collapseExample">
                        See more
                      </a>
                    </p>
                  </div>
                </div>              
              </div>
            </div>
            <div class="tab-pane fade" id="siblings" role="tabpanel" aria-labelledby="siblings-tab">
              <div class="part" id="siblingsInfo">
                <div class="sub-part-row">
                  <h5 class="left subsection-title">Sibling's details</h5>              
                    <i class="far fa-plus-square" onclick="togglePopUpFamilyHistoryAdd(this.parentElement.parentElement.id)"></i>
                </div>
                <p id="siblingsCnt" class="countShow">Total number: </p>              
                <div class="sub-part" id='siblingsDetails'>
                  
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="children" role="tabpanel" aria-labelledby="children-tab">
              <div class="part" id="childrenInfo">
                <div class="sub-part-row">
                  <h5 class="left subsection-title">Children's details</h5>
                  <i class="far fa-plus-square" onclick="togglePopUpFamilyHistoryAdd(this.parentElement.parentElement.id)"></i>
                </div>
                <p id="childrenCnt" class="countShow">total number: </p>
                <div class="sub-part" id='childrenDetails'>
                  
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="relatives" role="tabpanel" aria-labelledby="relatives-tab">
              <div class="part" id="relativeInfo">
                <div class="sub-part-row">
                  <h5 class="left subsection-title">Relative details</h5>
                    <i class="far fa-plus-square" onclick="togglePopUpFamilyHistoryRelativeAdd(this.parentElement.parentElement.id)"></i>
                </div>
                <p id="relativeCnt" class="countShow">total number: </p>
                <div class="sub-part" id='relativeDetails'>
                  
                </div>
              </div>
            </div>
          </div>
  
                
  
        </div>
      </div>
      
    </div>
  
  
    <input type="button" name="next" class="next action-button" value="Next" />
    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />

    <script>
       
       
      </script>

  </fieldset>